.header {
  width: 80vw;
  margin: 0 auto;
}


.board {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-auto-columns: auto;
  gap: 10px;

  padding: 2rem;
  justify-content: center;
  align-items: center;

}

.cell {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ddd;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  cursor: pointer;
}

.cell:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.visible {
  background-color: #4e4e4e;
}

.mine {
  background-color: #eb2f06;
  /* color: white; */
}

.gameOver {}